@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.part1{
    background-image: url("https://annk1995.github.io/delani/images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    box-sizing: content-box;
    text-align: center;
    padding: 60px 30px;
    height: 420px
}
.partb h1{
    font-size: 50px;
    letter-spacing: 2px;
   }
   #img1:hover{
       width: 30px;
   
   }
   .part2{
       text-align: center;
       padding: 50px;
       font-size: 17px;
   }
   .part3 {
       background-image: url("https://annk1995.github.io/delani/images/bottom.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       color: white;
       text-align: center;
       padding: 7%;
   }
   .part4 {
       text-align: center;
       padding: 4%;
       font-size: 17px;
   }
 #portfolio1 {
    padding: 2%;
    justify-content: space-between;
    font-size: 15px;

}

#portfolio2 {
    justify-content: space-between;
    padding: 1%;
    font-size: 15px;
}

h4 {
    text-align: center;
    font-size: 27px;
}

h5 {
    font-size: 40px;
    color: black;
}
#portfolio1 :hover{
    background-color: rgb(224, 225, 226);
    font-size: 20px;
    text-decoration: dotted;
}
#portfolio2:hover{
    background-color: rgb(224, 225, 226);
    font-size: 20px;
    text-decoration: dotted;
}
.part6 {
    background-image: url("https://annk1995.github.io/delani/images/bottom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
    text-align: center;
    padding: 70px 30px;
    height: 370px;
    position: relative;
}
.lastPart{
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}
.lastPart :hover{
    width: 30px;
}
footer{
    margin-left: 560px;
}
.part5 h5{
    margin-left: 470px;
}
